*{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    box-sizing : border-box;
}
p, span,a, ::placeholder{font-size: 16px;}
h1,h2{font-weight: bold;}
button{
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}
button:hover{opacity: 0.8;}
input, button, select, #tooltip-copy{border-radius: 5px;}
.fade{
    opacity: 0;
    transition: opacity 1500ms;
}
.show{visibility: visible;}
.hide{visibility: hidden;}
.remove{display: none;}
.create{display: block;}



.popup-container{
    padding: 10px;
    width: 300px;
    height: 225px;
}
.popup-container>h3{
    color: orange;
    margin:auto;
}
.master-container{text-align: justify;}
.input-container{margin-top: 10px;}
.input-container>input{
    border:2px solid black;
    height: 30px;
    padding: 5px;
}
.input-container>input:focus{
    box-shadow:0 0 0 2px rgba(0,123,255,.25);
    border: 1px solid #80bdff;
    outline: none;
}
.input-container>button{
    margin: auto;
    width: 80px;
    height: 30px;
    background-color: green;
    margin-left: 5px;
    font-size: 14px;
}
.output-container{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.output-container input{
    border:2px solid black;
    height: 30px;
    width: 100%;
}
.output-container img{
    z-index: 2;
    margin-left: -23.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
}
.output-container img:active{
    width: 19px;
    height: 19px;
}
#tooltip-copy{
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    width: 60px;
    padding: 5px;
    z-index: 1;
    top: 100%;
    left: 77%;
    margin: 5px 0;
    font-size: 13px;
    animation-name: tooltip;
    animation-duration: 1s;
    animation-timing-function: ease;
}
#tooltip-copy::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 77%;
    border: 5px solid black;
    border-color: transparent transparent black transparent;
}
@keyframes tooltip {
    0%   {left:77%; top:90%; display: block;}
    25%  {left:77%; top:100%; display: block;}
    50%  {left:77%; top:100%; display: block;}
    75%  {left:77%; top:100%; display: block;}
    100% {left:77%; top:110%; display: none;}
}



.options-container{
    margin: auto;
    display: block;
}
.options-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    width: 800px;
    max-width: 90%;
    background-color: #f2f2f2;
}
.options-body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.options-body>img{
    width: 20%;
    height: 20%;
}
.options-body h1{
    color: orange;
    margin:0;
}
.options-body h2{margin: auto;}
.options-body>h3{margin: 5px;}
.options-body input{
    width: 100%;
    border:2px solid black;
    height: 35px;
    padding: 10px;
}
.options-body input:focus, .options-body select:focus{
    box-shadow:0 0 0 2px rgba(0,123,255,.25);
    border: 1px solid #80bdff;
    outline: none;
}
.options-body select{
    width: 80%;
    height: 35px;
    border:2px solid black;
    cursor: pointer;
    padding-left: 5px;
}
.options-body button{
    font-size: 16px;
    margin: auto;
    width: 120px;
    height: 40px;
    background-color: green;
    margin-top: 15px;
}
#master-success, #hash-success{color: green;}
#masterError, #twoErrors{color: red;}
.options-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.options-about a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 80px;
    transition-duration: 0.5s;
}
.options-about a:last-child{margin-right: 0;}
.options-about a:hover{color: dodgerblue;}