/*Universal styles*/
*{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    box-sizing : border-box;
}
p, span,a, ::placeholder{font-size: 16px;}
h1,h2,h3{font-weight: bold;}
button{
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}
input, button, select, #tooltip-copy{border-radius: 5px;}

/*Utility classes*/
.show{visibility: visible;}
.hide{visibility: hidden;}
.remove{display: none;}
.create{display: block;}
.fade{
    opacity: 0;
    transition: opacity 1500ms;
}

/*CSS flex classes*/
.center-vertically{
    display: flex;
    align-items: center;
}
.center-horizontally{
    display: flex;
    justify-content: center;
}
.space-horizontally{justify-content: space-between;}
.flex-col{flex-direction: column;}

/*Dark and light mode classes*/
.dark{
    color: white;
    background-color: #121212;
}
.light{
    color: #111;
    background-color: white;
}
.input-darkMode{background-color: #F2F2F2;}
.input-lightMode{background-color: white;}
.btn-darkMode{background-color: #7ab979;}
.btn-darkMode:hover{background-color: #11A200;}
.btn-lightMode{background-color: #11A200;}
.btn-lightMode:hover{opacity: 0.8;}
.tooltip-dark{
    background-color: white;
    color: #121212;
}
.tooltip-dark::after{
    border: 5px solid #F2F2F2;
    border-color: transparent transparent #F2F2F2 transparent;
}
.tooltip-light{
    background-color: #121212;
    color: white;
}
.tooltip-light::after{
    border: 5px solid #121212;
    border-color: transparent transparent #121212 transparent;
}

/*Extension classes*/
.popup-container{
    padding: 10px;
    width: 300px;
    height: 265px;
}
.popup-header h2{
    font-style: oblique;
    color: orange;
}
.popup-header span{
    font-size: 14px;
    font-style: oblique;
}
.mode-switch{
    position: relative;
    display: inline-block;
    height: 26px;
    width: 40px;
}
.mode-slider{
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.5s;
}
.mode-slider::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 18px;
    width: 18px;
    bottom: 4px;
    left: 4px;
    transition: 0.5s;
}
#checkMode:checked + .mode-slider{background-color: #66bb6a;}
#checkMode:checked + .mode-slider::before{transform: translateX(14px);}
.round{border-radius: 25px;}
.round::before{border-radius: 80%;}
.input-container{margin-top: 10px;}
.input-container>input{
    border:2px solid black;
    height: 30px;
    padding: 5px;
}
.input-container>input:focus{outline: none;}
.input-container>button{
    margin: auto;
    width: 80px;
    height: 30px;
    margin-left: 5px;
    font-size: 14px;
}
.output-container{
    position: relative;
    margin-top: 10px;
}
.output-container input{
    border: 2px solid black;
    outline: none;
    height: 30px;
    width: 100%;
}
.output-container img{
    z-index: 2;
    margin-left: -23.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
}
.output-container img:active{
    width: 19px;
    height: 19px;
}
#tooltip-copy{
    position: absolute;
    text-align: center;
    width: 60px;
    padding: 5px;
    z-index: 1;
    top: 100%;
    left: 77%;
    margin: 5px 0;
    font-size: 13px;
    animation-name: tooltip;
    animation-duration: 1s;
    animation-timing-function: ease;
}
#tooltip-copy::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 77%;
}
@keyframes tooltip{
    0%   {left:77%; top:90%; display: block;}
    25%  {left:77%; top:100%; display: block;}
    50%  {left:77%; top:100%; display: block;}
    75%  {left:77%; top:100%; display: block;}
    100% {left:77%; top:110%; display: none;}
}

/*Options classes*/
.options-container{margin: auto;}
.options-body{
    margin: auto;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    width: 800px;
    max-width: 90%;
    background-color: #f2f2f2;
}
.options-body>div{margin-top: 50px;}
.options-body>img{
    width: 20%;
    height: 20%;
}
.options-body h1{
    color: orange;
    margin:0;
}
.options-body h2{margin: auto;}
.options-body>h3{margin: 5px;}
.options-body input{
    width: 100%;
    border:2px solid black;
    height: 35px;
    padding: 10px;
}
.options-body input:focus, .options-body select:focus{
    box-shadow:0 0 0 2px rgba(0,123,255,.25);
    border: 1px solid #80bdff;
    outline: none;
}
.options-body select{
    width: 80%;
    height: 35px;
    border: 2px solid black;
    cursor: pointer;
    padding-left: 5px;
}
.options-body button{
    font-size: 16px;
    margin: auto;
    width: 120px;
    height: 40px;
    background-color: green;
    margin-top: 15px;
}
.options-body button:hover{opacity: 0.8;}
#master-success, #hash-success{color: green;}
#masterError, #twoErrors{color: red;}
.options-about{padding-bottom: 50px;}
.options-about button{
    color: black;
    width: 175px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 0;
    background-color: rgba(0,0,0,0.1);
}
.options-about a{margin-right: 20px;}
.options-about a:last-child{margin-right: 0;}